# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
- Get to know the categories of Data Science
- What are the open source tools for Data Science
- Get familiar with Jupyter Notebooks
- Introduction to Python, R and SQL
- Understand Libraries, APIs, Data sets and Models

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. ggplot

| Data Science Tools |
| -------------------|
| Anaconda |
| RStudio |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
InÃªs de Jesus